<?xml version="1.0" encoding="UTF-8"?>

<!--http://logback.qos.ch/manual/configuration.html-->
<configuration>

	<property scope="context" name="appName" value="CodeLib2"/>

	<logger name="org.springframework" level="INFO"/>
	<logger name="org.apache" level="INFO"/>


	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>●%date{MMdd HH:mm:ss.SSS} %msg ~%logger{5}:%L [%thread] %level%n</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>DEBUG</level>
		</filter>
	</appender>

	<appender name="DebugFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<!--See also http://logback.qos.ch/manual/appenders.html#RollingFileAppender-->
		<append>true</append>
		<file>${java.io.tmpdir}/${appName}.log</file>
		<encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
			<layout class="ch.qos.logback.classic.PatternLayout">
				<pattern>●%date{MM-dd HH:mm:ss.SSS} %msg ~%logger{5}:%L [%thread] %level%n</pattern>
			</layout>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>DEBUG</level>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<maxIndex>20</maxIndex>
			<fileNamePattern>${java.io.tmpdir}/${appName}.%i.log</fileNamePattern>
		</rollingPolicy>
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>4MB</maxFileSize>
		</triggeringPolicy>
	</appender>

	<root level="DEBUG">
		<appender-ref ref="console"/>
		<appender-ref ref="DebugFile"/>
	</root>

</configuration>

